# set the udev rule , make the device_port be fixed by arduino-mega
#変更する
KERNEL=="ttyACM0", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", MODE:="0666", SYMLINK+="arduino-uno"